body {
	font-family: 'Roboto Slab', serif;
}

.container {
	margin-top: 30px;
}

.randQuestions {
	border: 1px solid #ccc;
    border-radius: 5px;
    text-align:center;
    width: 629px;
    margin-left: 135px;
    
    padding: 17px;
}